body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(34, 146, 194);
}

.profile {
    flex: 1;
    text-align: center;
    color: antiquewhite;

}

.profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.content {
    flex: 2;
    color: antiquewhite;
}

h1, h2, p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 20px;
}

ul li {
    list-style-type: none;
}
